.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    max-width: 250px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
  }

  a:hover {
    transform: scale(1.05);
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (width >= 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}

.description {
  max-width: 800px;
  margin: 2rem auto;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

/* Light mode */
.light .description {
  color: #333333; /* Dark text for light background */
}

/* Dark mode */
.dark .description {
  color: #ffffff; /* Light text for dark background */
}

